
a {
    text-decoration: none;
}

.navBar {

}

    .navBar ul {
        display: flex;
        flex-direction: row;
        width: 40vw;
    } 

        .navBar ul li {
            all: unset;
            margin-right: 40px;
            cursor: pointer;
        }

        .navBar ul li a:visited {
            color: white;
        } 


.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .homeContainer img {
        width: 300px;
        margin-top: 50px;
    }

    .homeContainer h1 {
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .homeContainer p {
        width: 500px;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }


    .homeContainer button {
        all: unset;
    }

        .playNowButton {
            all: unset;
            background-color: #FFD553; 
            color: #252629;
            padding: 1rem 3rem;
            border-radius: 9999px;
            text-align: center;
            font-weight: 600;
            font-size: 1.2rem;
            cursor: pointer;
        }




#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252629;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.img { 
    width: 1000px;
}

.board {
    width: 85vh;
    border-radius: 5px;
    overflow: hidden;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.movesContainer {
    background-color: rgb(38, 37, 34);
    border-radius: 5px;
    color: rgb(199, 199, 199);
    margin: 4%;
    width: 30%;
    height: 85%;
    box-sizing: border-box;
    overflow: scroll;
    padding: 1%;
}

.move {
    display: flex;
}

.move p {
    width: 10%;
}

.move p:first-child {
    width: 7%;
    padding-left: 5%;
}

.move:nth-child(odd) {
    background-color: rgb(47, 46, 43);
}
